@use "./breakpoints" as vars;

:root {
  --footer-desc: #8db7c9;
  --footer-bg: #325269;
  --black: #343a40;
  --green: #149024;
  --yellow: #ff9800;
  --light-green: #d7ecd9;
  --light-yellow: #fff8ea;
  --light-gray: #dbdbdb;
  --bg: #e4f0f5;
  --column-text: #141b30;
  --colum-color: #fef6e5;
  --active-color: #3273dc;
  --pink-color: #d53d5b;
  --navigation-hover: #ecacb8;
  --white-color: #fff;
  --red-color-bg: #c60c30;
  --help-red-color: #ff0537;
  --core-color: #325269;
  --blue-color: #2196f3;
  --font-family-base: "Roboto", sans-serif;
}

.container {
  min-width: 375px;
  padding-inline: 15px;
  margin: 0 auto;

  @media screen and (min-width: vars.$breakpoint-tablet) {
  }

  @media screen and (min-width: vars.$breakpoint-desktop) {
    max-width: 1344px;
  }
}
