<footer class="footer">
  <div class="footer-container container">
    <ul class="footer-list-partner">
      <li class="footer-item-partner">
        <img src="/foter/ajanta-w.webp" alt="ajanta" class="footer-parner" />
      </li>
      <li class="footer-item-partner">
        <img src="/foter/sunrise-w.webp" alt="sunrise" class="footer-parner" />
      </li>
      <li class="footer-item-partner">
        <img src="/foter/zydus-w.webp" alt="zydus" class="footer-parner" />
      </li>
      <li class="footer-item-partner">
        <img src="/foter/ranbaxy-w.webp" alt="ranbaxy" class="footer-parner" />
      </li>
      <li class="footer-item-partner">
        <img
          src="/foter/aurochem-w.webp"
          alt="aurochem"
          class="footer-parner" />
      </li>
      <li class="footer-item-partner">
        <img src="/foter/alkem-w.webp" alt="alkem" class="footer-parner" />
      </li>
    </ul>
    <ul class="footer-list-link">
      <li class="footer-item-link"><a href="" class="footer-link">Blog</a></li>
      <li class="footer-item-link"><a href="" class="footer-link">Om os</a></li>
      <li class="footer-item-link">
        <a href="" class="footer-link">Kontaktoplysninger</a>
      </li>
      <li class="footer-item-link">
        <a href="" class="footer-link"> Cookiepolitik </a>
      </li>
      <li class="footer-item-link">
        <a href="" class="footer-link">Sitemap</a>
      </li>
      <li class="footer-item-link">
        <a href="" class="footer-link"></a>
      </li>
      <li class="footer-item-link dnk-fwidgettitle">
        <a href="" class="footer-link">Juridiske oplysninger</a>
      </li>
      <li class="footer-item-link">
        <a href="" class="footer-link">Ansvarsfraskrivelse</a>
      </li>
      <li class="footer-item-link">
        <a href="" class="footer-link">
          Politik til beskyttelse af personlige oplysninger</a
        >
      </li>
    </ul>
    <div class="footer-descriptions">
      <p class="description-footer">
        Alle rettigheder forbeholdes. Varemærkenavnene (Cialis&reg; ,
        Viagra&reg; , Levitra&reg; , Stendra&reg; , Priligy&reg; , Zydena&reg;
        og andre), der er nævnt på webstedet, hører til deres respektive ejere.
      </p>
      <br />
      <p class="description-footer">
        Ethvert forsøg på at kopiere indholdet på dette websted, helt eller
        delvist, vil blive retsforfulgt ved domstolen. Copyright &reg; 2019 -
        2025; DanmarkPotensPiller ApS .
      </p>
    </div>
  </div>
</footer>
