<section id="gallery" class="gallery">
  <div class="container">
    <h2 class="title-gallery" data-aos="fade-up">Gallery</h2>
    <div class="swiper">
      <ul class="list-gallery">
        <li class="item-gallery" data-aos="fade-down">
          <img
            srcset="
              /galerry/imagecompressor/1-min.webp    1x,
              /galerry/imagecompressor/1@2x-min.webp 2x
            "
            src="/galerry/imagecompressor/1-min.webp"
            alt="CARPATHIANS"
            class="img-galery" />
        </li>
        <li class="item-gallery" data-aos="fade-down">
          <img
            srcset="
              /galerry/imagecompressor/2-min.webp    1x,
              /galerry/imagecompressor/2@2x-min.webp 2x
            "
            src="/galerry/imagecompressor/2-min.webp"
            alt="CARPATHIANS"
            class="img-galery" />
        </li>
        <li class="item-gallery" data-aos="fade-down">
          <img
            srcset="
              /galerry/imagecompressor/3-min.webp    1x,
              /galerry/imagecompressor/3@2x-min.webp 2x
            "
            src="/galerry/imagecompressor/3-min.webp"
            alt="CARPATHIANS"
            class="img-galery" />
        </li>
        <li class="item-gallery" data-aos="fade-down">
          <img
            srcset="
              /galerry/imagecompressor/4-min.webp    1x,
              /galerry/imagecompressor/4@2x-min.webp 2x
            "
            src="/galerry/imagecompressor/4-min.webp"
            alt="CARPATHIANS"
            class="img-galery" />
        </li>
        <li class="item-gallery" data-aos="fade-down">
          <img
            srcset="
              /galerry/imagecompressor/5-min.webp    1x,
              /galerry/imagecompressor/5@2x-min.webp 2x
            "
            src="/galerry/imagecompressor/5-min.webp"
            alt="CARPATHIANS"
            class="img-galery" />
        </li>
        <li class="item-gallery" data-aos="fade-down">
          <img
            srcset="
              /galerry/imagecompressor/6-min.webp    1x,
              /galerry/imagecompressor/6@2x-min.webp 2x
            "
            src="/galerry/imagecompressor/6-min.webp"
            alt="CARPATHIANS"
            class="img-galery" />
        </li>
        <li class="item-gallery" data-aos="fade-down">
          <img
            srcset="
              /galerry/imagecompressor/7-min.webp    1x,
              /galerry/imagecompressor/7@2x-min.webp 2x
            "
            src="/galerry/imagecompressor/7-min.webp"
            alt="CARPATHIANS"
            class="img-galery" />
        </li>
        <li class="item-gallery" data-aos="fade-down">
          <img
            srcset="
              /galerry/imagecompressor/8-min.webp    1x,
              /galerry/imagecompressor/8@2x-min.webp 2x
            "
            src="/galerry/imagecompressor/8-min.webp"
            alt="CARPATHIANS"
            class="img-galery" />
        </li>
      </ul>
      <div class="pagination-gallery">
        <button class="btn-pagination-gallery swiper-button-prev">
          <svg class="icon-gallery" Width="15" Height="19">
            <use href="/icon/symbol-defs.svg#icon-left"></use>
          </svg>
        </button>
        <button class="btn-pagination-gallery swiper-button-next">
          <svg class="icon-gallery" Width="15" Height="19">
            <use href="/icon/symbol-defs.svg#icon-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
