<header class="header">
  <div class="header-container container">
    <div class="header-name-block">
      <div class="header-secure">
        <a href="/"> <img src="/header/security.webp" alt="security" /></a>
      </div>
      <div class="header-logo-block">
        <img class="header-logo" src="/header/logo.webp" alt="logo" />
        <div class="header-title-block">
          <h2 class="header-title">Danmark Potens Piller</h2>
          <p class="header-description">
            Vi leverer kun FDA-godkendte lægemidler det er både brand- og
            generiske piller.
          </p>
        </div>
      </div>
    </div>
    <address class="header-address-wrapper">
      <ul class="header-address">
        <li class="header-address-item">
          <p class="header-address-name">Telefonnummer i Denmark</p>
          <a class="header-address-phone" href="tel: +44 156 254 9445"
            ><svg class="header-address-phone-icon" width="20" height="20">
              <use href="/symbol-defs.svg#icon-phone"></use>
            </svg>
            +44 156 254 9445</a
          >
        </li>
      </ul>
    </address>
  </div>
</header>
