<section id="tours" class="upcoming-tours">
  <div class="container">
    <h2 class="title-upcoming-tours" data-aos="fade-up">Upcoming-tours</h2>
    <div class="swiper-tour">
      <ul class="list-upcoming">
        <li class="iteam-upcoming" data-aos="zoom-in-up" data-aos-delay="200">
          <picture>
            <source
              srcset="
                /tours/Hoverla_desc@2x-min.webp 1x,
                /tours/Hoverla_desc-min.webp    2x
              "
              media="(min-width: 1440px)" />
            <source
              srcset="
                /tours/Hoverla_tab-min.webp    1x,
                /tours/Hoverla_tab@2x-min.webp 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                /tours/Hoverla_mob-min.webp    1x,
                /tours/Hoverla_mob@2x-min.webp 2x
              "
              media="(max-width: 767px)" />
            <img
              class="img-tours"
              src="/tours/Hoverla_desc@2x-min.webp"
              alt="Hoverla" />
          </picture>
          <div class="list-text-tour">
            <h4 class="tour-name">Ascent to Hoverla</h4>
            <p class="price-tour">From UAH 4.499/person</p>
            <button class="btn-tour" data-custom-open="modal-3">
              MORE DETAILS
            </button>
          </div>
        </li>
        <li class="iteam-upcoming" data-aos="zoom-in-up" data-aos-delay="400">
          <picture>
            <source
              srcset="
                /tours/Bukovel_desc-min.webp    1x,
                /tours/Bukovel_desc@2x-min.webp 2x
              "
              media="(min-width: 1440px)" />
            <source
              srcset="
                /tours/Bukovel_tab-min.webp    1x,
                /tours/Bukovel_tab@2x-min.webp 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                /tours/Bukovel_mob-min.webp    1x,
                /tours/Bukovel_mob@2x-min.webp 2x
              "
              media="(max-width: 767px)" />
            <img
              class="img-tours"
              src="/tours/Bukovel_desc@2x-min.webp"
              alt="Bukovel" />
          </picture>
          <div class="list-text-tour">
            <h4 class="tour-name">Ski tour to Bukovel</h4>
            <p class="price-tour">From UAH 7,499/person</p>
            <button class="btn-tour" data-custom-open="modal-4">
              MORE DETAILS
            </button>
          </div>
        </li>
        <li class="iteam-upcoming" data-aos="zoom-in-up" data-aos-delay="600">
          <picture>
            <source
              srcset="
                /tours/Carpathians_desc-min.webp    1x,
                /tours/Carpathians_desc@2x-min.webp 2x
              "
              media="(min-width: 1440px)" />
            <source
              srcset="
                /tours/Carpathians_tab-min.webp    1x,
                /tours/Carpathians_tab@2x-min.webp 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                /tours/Carpathians_mob-min.webp    1x,
                /tours/Carpathians_mob@2x-min.webp 2x
              "
              media="(max-width: 767px)" />
            <img
              class="img-tours"
              src="/tours/Carpathians_desc@2x-min.webp"
              alt="Carpathians" />
          </picture>
          <div class="list-text-tour">
            <h4 class="tour-name">Week in Carpathians</h4>
            <p class="price-tour">From UAH 4,499/person</p>
            <button class="btn-tour" data-custom-open="modal-5">
              MORE DETAILS
            </button>
          </div>
        </li>
      </ul>
      <div class="pagination">
        <button class="btn-pag swiper-button-prev">
          <svg class="icon-pag" width="11" height="19">
            <use href="/icon/symbol-defs.svg#icon-left"></use>
          </svg>
        </button>
        <button class="btn-pag swiper-button-next">
          <svg class="icon-pag" width="11" height="19">
            <use href="/icon/symbol-defs.svg#icon-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
