<div
  class="modal-overlay-tours"
  id="modal-3"
  aria-hidden="true"
  data-custom-close>
  <div class="overlay-tours">
    <div class="modal-tours-content">
      <button class="tours-close-btn" data-custom-close>
        <svg class="tours-modal-close-icon" width="15" height="15">
          <use href="/icon/symbol-defs.svg#icon-close-2"></use>
        </svg>
      </button>

      <div class="modalSwiper">
        <div class="modalSwiperWraper">
          <div class="tour-block">
            <picture>
              <source
                srcset="/tours/for_modal/x1/hoverlaDesc.webp x1,
          /tours/for_modal/x2/hoverlaDesc.webp x2"
                media="(min-width: 1440px)" />
              <source
                srcset="/tours/for_modal/x1/hoverlaTab.webp x1,
          /tours/for_modal/x2/hoverlaTab.webp x2"
                media="(min-width: 768px)" />
              <source
                srcset="/tours/for_modal/x1/hoverlaMob.webp x1,
          /tours/for_modal/x2/hoverlaMob.webp x2"
                media="(max-width: 767px)" />
              <img
                class="bg-picture"
                src="/tours/for_modal/x2/hoverlaDesc.webp"
                alt="hoverla" />
            </picture>
            <div class="tour-content">
              <h4 class="tour-title">Ascent to Hoverla</h4>
              <span class="numDay">1 day</span>
              <ul class="tours-modal-list">
                <li class="tours-modal-item">
                  <p class="modal-tours-name">Departure from Lviv</p>
                </li>
                <li class="tours-modal-item">
                  <p class="modal-tours-name">Manyava Hermitage</p>
                </li>
                <li class="tours-modal-item">
                  <p class="modal-tours-name">Manyava waterfall</p>
                </li>
                <li class="tours-modal-item">
                  <p class="modal-tours-name">Arrival to Bukovel</p>
                </li>
                <li class="tours-modal-item">
                  <p class="modal-tours-name">Check-in</p>
                </li>
                <li class="tours-modal-item">
                  <p class="modal-tours-name">Dinner</p>
                </li>
                <li class="tours-modal-item">
                  <p class="modal-tours-name">Evening by the fireplace</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="tour-block">
            <picture>
              <source
                srcset="/tours/for_modal/x1/hoverlaDesc.webp x1,
          /tours/for_modal/x2/hoverlaDesc.webp x2"
                media="(min-width: 1440px)" />
              <source
                srcset="/tours/for_modal/x1/hoverlaTab.webp x1,
          /tours/for_modal/x2/hoverlaTab.webp x2"
                media="(min-width: 768px)" />
              <source
                srcset="/tours/for_modal/x1/hoverlaMob.webp x1,
          /tours/for_modal/x2/hoverlaMob.webp x2"
                media="(max-width: 767px)" />
              <img
                class="bg-picture"
                src="/tours/for_modal/x2/hoverlaDesc.webp"
                alt="hoverla" />
            </picture>
            <div class="tour-content">
              <h4 class="tour-title">Ascent to Hoverla</h4>
              <span class="numDay">1 day</span>
              <ul class="tours-modal-list">
                <li class="tours-modal-item">
                  <p class="modal-tours-name">Departure from Lviv</p>
                </li>
                <li class="tours-modal-item">
                  <p class="modal-tours-name">Manyava Hermitage</p>
                </li>
                <li class="tours-modal-item">
                  <p class="modal-tours-name">Manyava waterfall</p>
                </li>
                <li class="tours-modal-item">
                  <p class="modal-tours-name">Arrival to Bukovel</p>
                </li>
                <li class="tours-modal-item">
                  <p class="modal-tours-name">Check-in</p>
                </li>
                <li class="tours-modal-item">
                  <p class="modal-tours-name">Dinner</p>
                </li>
                <li class="tours-modal-item">
                  <p class="modal-tours-name">Evening by the fireplace</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiperPagination"></div>
      </div>
    </div>
    <div class="price-block">
      <p class="price-tour-modal">UAH 4.499/person</p>
      <button class="buy-tour">BOOK A TOUR</button>
    </div>
  </div>
</div>
